<div class="mb-3">
  <label for="campaignFilter">Filter by Campaign:</label>
  <select id="campaignFilter" class="form-control" [formControl]="campaignFilter" (change)="filterByCampaign()">
    <option value="">All Campaigns</option>
    <option value="-1">Unassigned Characters</option>
    @for (campaign of campaigns; track $index) {
      <option [value]="campaign.id">{{ campaign.name }}</option>
    }
  </select>
</div>

<div class="container-fluid d-flex align-items-center justify-content-center">
  <div class="d-flex overflow-auto gap-4 character-container flex-wrap justify-content-center align-items-start">
    @for (char of characters; track $index) {
      <a class="d-flex align-items-end justify-content-center text-white text-decoration-none character-card"
        [routerLink]="['/characters', char.id]"
        [style.background]="'url(/' + char.id + '.jpg) center/cover no-repeat'">
        <div>
          <h3 class="text-center">{{ char.name }}</h3>
          <p></p>
          <h4 class="text-center">
            {{ campService.campaingById(char.campaign_id)?.name || 'Unassigned' }}
          </h4>
        </div>
      </a>
    }
  </div>
</div>
