<div class="vh-100 d-flex">
  <a class="flex-fill d-flex align-items-center justify-content-center text-white text-decoration-none"
     [routerLink]="['/campaigns']"
     style="background: url('/mcampaing.jpg') center/cover no-repeat;">
    <h1>Campaigns</h1>
  </a>

  <a class="flex-fill d-flex align-items-center justify-content-center text-white text-decoration-none"
     [routerLink]="['/characters']"
     style="background: url('/mcharacters.avif') center/cover no-repeat;">
    <h1>Characters</h1>
  </a>
</div>
